.bordColumnBox{
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #242526;
}

.spaceSelect:hover {
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.spaceSelected{
    -fx-opacity: 0.7;
}

.spaceSelected:hover{
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.copySelect{
    -fx-background-color: #4f83b4;
}

.copySelect:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.copySelectTake{
    -fx-background-color: #b44f4f;
}

.copySelectTake:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.farSelect{
    -fx-background-color: #1b558a;
}

.farSelect:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.farSelectTake{
    -fx-background-color: #8a1b1b;
}

.farSelectTake:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}